.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -200px;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    min-width: 100vw;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar-header {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar-header, #navbar {
    height: 70px;
}
